.custom-box-hostels{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.custom-search-bar{
    width: 60%;
    margin: 1rem 0;
    padding: 0.5rem;
}
.custom-hostel-list{
    display: flex;
    gap: 0.5rem;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}
.custom-cards{
    margin: 5px;
    /* min-width: 400px; */
}
.custom-cards:hover{
    cursor: pointer;
}
.card_details{
    text-align: left;
}
.card_details span{
    padding-left: 4px;
}