@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');


.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container img{
  width: 40%;
  flex: 1;
}

#form {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding:1rem;
  background-color: #FFFFFF;
  min-width: 350px;
  margin: 10px;
  transform: scale(0.8);
  /* flex: 0.5; */
}
#headerTitle{
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  color: #2d6ef0;
}

.row {
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 1rem 0;
  max-width: 100%;
   
}
.row input {
  width: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 1.3rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
  outline: none;
  padding: 12px 12px;
}

.row input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.row button {
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background: linear-gradient(to right top, #05419b, #0065b5, #0083b1, #009c98, #13b177);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.message {
  display: flex;
  font-family: "work sans";
  justify-content: space-around;
}

button:disabled {
  opacity: 0.5;
}

.row input:focus {
  /* box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7); */
  outline: none;
}

.row input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.row label {
  align-self: start;
  padding-bottom: 0.5rem;
  color: rgba(187, 187, 187, 0.9);
}
.message {
  display: flex;
  font-family: "work sans";
  justify-content: space-around;
}