*{
    box-sizing: border-box;
}
.profile__section{
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
}
.profile__container{
    border-radius: 10px;
    height: fit-content;
    margin: 2rem 0;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.profile__items{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.profile__items input{
    background: none;
    border: none;
    box-sizing: border-box;
    font-size: 1.3rem;
    text-align: left;
    color: black;
    display: block;
    flex: 1;
    margin: 1.5rem;
}
.profile__items label{
    font-size: 1.5rem;
    font-weight: bold;
    display: block;
    padding-bottom: 1rem 0;
    flex: 1;
    margin: 1.5rem;
}
.profile__items button {
    background-color: rgb(109,40,217); /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 8px;
    margin: 1.5rem;
  }
  
.userData{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* .profile__items:nth-child(odd){
    background-color: #c4c4c46b;
} */

@media (max-width:450px) {

    .profile__container{
        width: 100%;
        margin: 0;
    } 
    .profile__items{
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: flex-start;
        padding: 0;

    }
    .profile__items label{
        /* text-align: center; */
        display: block;
        margin: 0;
    }
    .profile__items input{
        background: none;
        border: none;
        box-sizing: border-box;
        font-size: 1.3rem;
        padding: 10px;
        margin-left: 0;
        color: black;
        width: 100%;
        /* text-align: center; */
        margin: 0;
         /* box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
        transition: box-shadow 0.2s ease-in; */
    }
    .profile__items button{
        margin-left: 0;
        margin: 10px 0;
        position: relative;
        transform: scale(0.8);
        margin: 0;
       
    }
}