@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


body {
  box-sizing: border-box;
  color: #220f5f;
  font-family: 'Poppins', sans-serif;
}

.Requestscontainer {
  width: 100%;
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 70px;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #eeeeee;
  text-align: left;
  background-color: rgba(217, 221, 146, 0.2);
}

tr td {
  border: 1px solid #eeeeee;
  text-align: left;
}
.requestRow{
  text-align: center;
  color: white;
}
.requestHead{
  color: black;
}
input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 91%;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}
input:hover {
  /* background-color: #fffaf3; */
}
input:focus {
  outline: 1px solid #ccc;
  border: 1px solid #ccc;
}
.button {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid red;
  border-radius: 0.6em;
  color: red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.button{
  /* background: yellow; */
  border-color: yellow;
  color: #fff;
  background-image: linear-gradient(45deg,yellow 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;  
  transition: background 300ms ease-in-out;
}
.btnEffects:hover, .btnEffects:focus{
    color: black;
  outline: 0;
  background-position: 0;
}
.applyRow{
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled{
  cursor: not-allowed;
}
.active{
  color: black;
  outline: 0;
  background-position: 0;
}